# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- libraries for Data Science
- open source tools used in data science

some of the popular language that data scientists use are:
1. python language
2. R language
3. java language
4. SQL

some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Pytorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
IBTISAM MOHAMMED